.container .row .col-md-8 .card {
    margin: 10px;
    border: 1px solid #b61826;
}

.container .row .col-md-8 .card .card-body {
    background-color: #b61826; 
}

.container .row .col-md-4 .btn {
    position: absolute;
    top: 10px;
    left: 0;
}