<ul class="nav justify-content-center align-items-center">
    <li class="nav-item">
      <a class="nav-link">Pokedex</a>
    </li>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Order by
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="onPassData('Alphabetical')">Alphabetical</a> 
          <a class="dropdown-item" (click)="onPassData('Number')">Pokedex number</a> 
        </div>
    </div>
</ul>
