<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of results; let i = index">
            <div class="card text-center" style="width: 18rem;">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ i + 1 }}.png" class="card-img-top" alt="{{ item.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name | titlecase }}</h5>
                  <a routerLink='/pokedex/{{ item.name }}/{{ i }}' class="btn btn-primary">See details</a>
                </div>
              </div>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" (click)="addResults()">Load more</button>
        </div>
    </div>
</div>
